#!/bin/bash

set -euxo pipefail

# Disable root SSH
sed -i 's/^#PermitRootLogin .*/PermitRootLogin no/' /etc/ssh/sshd_config
systemctl reload sshd

# Install Amazon Inspector Agent
curl -o install-inspector.sh https://inspector-agent.amazonaws.com/linux/latest/install
curl -o install-inspector.sh.sig https://d1wk0tztpsntt1.cloudfront.net/linux/latest/install.sig
echo '${inspector_gpg_key_base64}' | base64 -d | gpg --import
gpg --verify ./install-inspector.sh.sig
bash install-inspector.sh
rm -f install-inspector.sh
